@import java.util
@import model.Transaction
@import play.libs.Json

@(tdTransactions: List[Transaction], zmToken: Optional[String], zmLoginUrl: String)

@main("TD -> ZM") {

    <div id="error" style="display: none;" class="alert alert-warning display:none"></div>
    <div id="success" style="display: none;" class="alert alert-success display:none"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>TD file upload</p>

                <input type="file" id="tdFile" name="tdFile"/>
                <input type="submit" id="submit" name="" value="Upload" />
            </div>
            <div class="col-sm-6">
                <p>ZenMoney login</p>
                @if(zmToken.isPresent) {
                    <span>LOGGED IN</span>
                }
                @if(!zmToken.isPresent) {
                    <a href="@zmLoginUrl">Login</a>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                    <table id="tdTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th data-field="date" style="width: 30%">Date</th>
                                <th data-field="shop" style="width: 30%">Shop</th>
                                <th data-field="amount" style="width: 30%">Amount</th>
                            </tr>
                        </thead>
                    </table>
            </div>
            <div class="col-sm-6">
                    <table id="zmTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th data-field="date">Date</th>
                                <th data-field="shop">Shop</th>
                                <th data-field="amount">Amount</th>
                            </tr>
                        </thead>
                    </table>
            </div>
        </div>

    </div>


    <script>
        $( document ).ready(function() {
            console.log( "ready!" );

            $('#tdTable').bootstrapTable({
                data: @Html(Json.toJson(tdTransactions).toString)
            });

            @if(zmToken.isPresent) {
                $.ajax({
                    url: 'https://api.zenmoney.ru/s1/transaction/',
                    type: 'GET',
                    header: 'Authorization: Bearer @zmToken.get',
                    contentType: false,
                    processData: false,
                    beforeSend: function (data) {

                    },
                    success: function (zmTransactions) {
                        $('#zmTable').bootstrapTable({
                            data: zmTransactions
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }
                });
            }
        });

        $('#submit').click(function (event) {
            event.preventDefault();

            var file = $('#tdFile').get(0).files[0];
            var formData = new FormData();
            formData.append('tdFile', file);

            var tdDiv = $('#td');

            $.ajax({
                url: '/td/upload',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                beforeSend: function (data) {
                    // alert('Are you sure you want to upload document?');
                },
                success: function (transactions) {
                    //call your jQuery action here
                    // tdDiv.text(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // alert(textStatus + ': ' + errorThrown);
                }
            });
            return false;
        });

        function fillTd(data) {

        }
    </script>

}
